body{
    background-color: lightgray;
}
header{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}
main{
    display: flex;
    flex-direction: row;
}
#list{
    flex: 3;
    padding: 16px 0 20px 0;
}
#form{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 16px 16px 20px 16px;
    box-shadow: -10px 25px 20px 5px #aaaaaaaa;
    background-color: rgba(234, 245, 244, 0.568);
}
.submit-div{
    text-align: center;
}
button{
    background-color: black !important;
    color: white !important;
    border-color: black !important;
    width: 180px !important;
    border-radius: 20px !important;
}
button:hover{
    background-color: grey !important;
    border-color: grey !important;
}
#iImportant{
    font-size: 25px;
    color: gray;
    cursor: pointer;
}
#iImportant.fas{
    color: red;
}
input{
    border-radius: 20px !important;
}
textarea{
    border-radius: 20px !important;
}
#tasks-list{
    text-align: left;
}
#tasks-list{
    display: flex;
    flex-direction: column;
}
#row-task{
    display: flex;
    flex-direction: row;
    margin: 15px;
    border: solid black 2px;
    padding: 15px;
}
#right-task{
    flex: 4;
    display: flex;
    flex-direction: column;
}
#row-task button{
    width: 80px !important;
    height: 30px !important;
    margin: 10px;
}
#left-task{
    flex: 3;
}
#left-task h3{
    text-decoration: underline;
}